[Desktop Entry]
Name=WorkFlow
Comment=Activities and WorkAreas in QML
Icon=chronometer
 
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Activities2.qml
X-Plasma-DefaultSize=1024,700
 
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=admin@opentoolsandspace.org
X-KDE-PluginInfo-Website=http://www.opentoolsandspace.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Name=org.kde.MyWorkFlow-qml
X-KDE-PluginInfo-Version=0.0
 
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service 
