[Desktop Entry]

Encoding=UTF-8

Name=WorkFlow
Name[el]=WorkFlow

Comment=WorkFlow Plasmoid presents Activities and WorkAreas in QML as described from the WorkFlow Project.
Comment[el]=To Συστατικό WorkFlow παρουσιάζει τις Δραστηριότητες και τις Επιφάνειες Εργασίας όπως περιγράφονται από το έργο WorkFlow.

Icon=preferences-activities
Type=Service


X-KDE-Library=plasma_applet_workflow

X-KDE-ServiceTypes=Plasma/Applet, Plasma/PopupApplet
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=psifidotos@users.sf.net
X-KDE-PluginInfo-Name=workflow
X-KDE-PluginInfo-Version=0.1.99
X-KDE-PluginInfo-Website=http://workflow.opentoolsandspace.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

