[Desktop Entry]
Type=Service
StartupNotify=true
Terminal=false
Exec=workareamanagerd
TerminalOptions=
X-DBUS-ServiceName=
X-DBUS-StartupType=wait
X-KDE-SubstituteUID=false
X-KDE-Username=
OnlyShowIn=KDE;

Name=Workarea Manager

Comment=The workarea management backend
